# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Compiled class files
*.class

# JAR files
*.jar

# WAR files
*.war

# Logs and backup files
*.log
*.log.*
*.bak

# Dependency files
lib/

# Out directory
out/
