header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 400px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav a:hover {
    color: #666;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* light gray background color */
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.task-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4f4f4f; /* dark gray text color */
    text-align: center; /* add this line to center the text */
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.table th {
    text-align: left;
    white-space: nowrap;
    min-width: 100px;
    background-color: #64a9af; /* light blue background color for table headers */
    color: white;
}

.table th:nth-child(1){ /* selects the first th element (id column) */
    min-width: 50px; /* decrease the minimum width */
    max-width: 100px; /* decrease the maximum width */
}

.table td:last-child { /* selects the last th element (Действие column) */
    min-width: 220px; /* increase the minimum width */
    max-width: 400px;
}


.table td {
    text-align: left;
    white-space: nowrap;
    max-width: 200px;
}

.btn-del {
    background-color: #a12d2d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-refactor:hover {
    background-color: #14962c; /* darker shade of blue on hover */
}.btn-refactor{
    background-color: #14962c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.btn-buy{
    background-color: #e7e048;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-del:hover {
    background-color: #a23c3c; /* darker shade of blue on hover */
}

.discount-input {
    width: 150px;
    border: 1px solid #ccc;
    padding: 8px;
}
